<body class="overflow-hidden">
  <div class="min-h-screen py-6 flex flex-col sm:py-12">
    {{#each blogData as |post|}}
      <div>
        <article
          class="bg-white rounded-lg shadow-md mb-8 lg:w-full w-11/12 mx-auto"
        >
          <div
            class="flex items-center justify-between bg-gray-800 px-4 py-2 rounded-t-lg"
          >
            <h2 class="text-xl font-bold text-white">{{post.title}}</h2>
            <p class="text-gray-300 text-sm">Posted by
              {{post.user.name}}
              on
              {{post.post_time}}</p>
          </div>
          <div class="p-4 pt-4">
            <p class="text-gray-800">{{post.post}}</p>
            <div class="mt-4 bg-gray-200">
              {{#if post.comments}}
                <div class="px-4">
                  <h3 class="text-lg font-semibold pt-3">Comments</h3>
                </div>
                <ul class="mt-2 px-4 py-2 space-y-4">
                  {{#each post.comments}}
                    <li class="border-t border-black">
                      <p class="text-gray-800 pt-2">{{this.comment_text}}</p>
                      <br />
                      <p class="text-gray-600 text-sm">-
                        {{this.comment_user}}
                        on
                        {{this.comment_time}}</p>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  </div>
  <script src="/js/logout.js"></script>
</body>